*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(15, 15, 15);
    color: #eee;
    display: flex;
    justify-content: center;
}

p#chrono {
    margin: 20px 0;
    padding: 10px;
    font-size: 4rem;
}

main {
    text-align: center;

}

button {
    border: none;
    outline: none;
    width: 140px;
    height: 40px;
    font-size: 1.2rem;
    margin: 0 10px;
    border-radius: 5px;
}

#btn-start {
    background-color: rgb(71, 133, 95);
    color: #222;
}
#btn-stop {
    background-color: rgb(145, 76, 76);
    color: #222;
}

.liste {
    margin: 10px 0;
    padding: 10px 0;
    background-color: rgba(255,255,255, 0.2);
    border:1px solid rgba(255,255,255, 0.2);
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgba(255,255,255, 0.12);
}

.liste p {
    margin: 5px 0;
    padding:  5px 0;
    font-size: 1.2rem;
}